@import "../style.scss";

.line {
    display: flex;
    width: 100%;
    border: 5px solid yellow;
    background-color: $game-back-color;
}

.playarea {
    background-color: red;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.playarea * {
    $size: 30px;
    border: 1px solid black;
    width: $size;
    height: $size;
}

.results {
    background-color: lime;
    list-style-type: none;
    display: grid;
    grid-template-rows: 50% 50%;
    margin-left: 30px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
}

.results * {
    border: 1px solid pink;
    $size: 10px;
    border: 1px solid black;
    width: $size;
    height: $size;
    display: flex;
    align-items: center;
    justify-content: center;
}