.pin {
    border-radius: 50%;
    border: 1px solid black;
}

.hugepin {
    padding: 20px;
}

.smallpin {
    padding: 5px;
}

.smallpin-0 {
    background-color: gray;
}
.smallpin-1 {
    background-color: white;
}
.smallpin-2 {
    background-color: black;
}