$pins: (
    smallpin-1: black,
    smallpin-2: white,
    hugepin-0: purple,
    hugepin-1: green,
    hugepin-2: blue,
    hugepin-3: white,
    hugepin-4: yellow,
    hugepin-5: red,
);

@each $name, $colour in $pins {
  .#{$name} {
    background-color: $colour;
  }
}

.pin {
    border-radius: 50%;
    border: 1px solid black;
}

.hugepin {
    padding: 5px;
    box-shadow: inset -3px -3px 10px 0px #000;
}

.pin.hugepin--1 {
    box-shadow: inset 4px 4px 10px 0px #555;
}

.smallpin {
    padding: 5px;
    box-shadow: inset -2px -2px 4px 0px #555
}

.pin.smallpin-0 {
    box-shadow: inset 2px 2px 4px 0px #555;
}