.pin {
    border-radius: 50%;
    border: 1px solid black;
}

.hugepin {
    padding: 20px;
}

.line.actual .hugepin {
    border-color: yellow;
}

.hugepin-0 {
    background-color: purple;
}
.hugepin-1 {
    background-color: green;
}
.hugepin-2 {
    background-color: blue;
}
.hugepin-3 {
    background-color: white;
}
.hugepin-4 {
    background-color: yellow;
}
.hugepin-5 {
    background-color: red;
}

.smallpin {
    padding: 5px;
}

.smallpin-1 {
    background-color: black;
}
.smallpin-2 {
    background-color: white;
}